.a {
    height: 40vh;
    display: flex;
    justify-content: center;
}

.aLeft {
    flex: 1;
    display: flex;
    justify-content: start;
}

.cubeContainer {
    margin-top: -90px;
}

.aRight {
    flex: 1;
}



.aCard {
    width: 60%;
    height: 70vh;
}

.aTitle {
    font-weight: 400;
    border-bottom: 1px solid var(--light);
}

.aSub {
    margin: 20px 0px;
    font-weight: 500;
    padding-top: 1rem;
    border-top: 2px solid;
}

.aDescription {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 20px;
}