.aContainer {
    height: 75vh;
    display: flex;
    justify-content: center;
    margin-top: -200px;
    background-color: transparent;
}

.aLeft {
    flex: 1;
    display: flex;
    justify-content: start;
    background-color: transparent;
}

.cubeContainer {
    /* position: relative; */
    /* left: -80px; */
    margin-top: 90px;
    background-color: transparent;
}

.aRight {
    flex: 1;
}

.aSub {
    margin: 20px 0px;
    font-weight: 500;
    padding-top: 1rem;
    border-top: 2px solid var(--accent2);
    letter-spacing: .1rem;
}

.aDescription {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 20px;
       letter-spacing: .1rem;
       word-spacing: .1rem;
}

@media screen and (max-width: 768px) {
    .aContainer {
        flex-direction: column; 
        align-items: center;
    }

    .cubeContainer {
        margin-right: 200px;
        margin-bottom: 100px;
    }

    .aRight {
        margin-top: 200px;
    }
}

@media screen and (max-height: 823px), screen  and (max-width: 320px) {
    .aContainer {
        margin-top: 230px;
    }
}