.aContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15rem;
    height: 100vh;
}

.aLeft {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.cubeContainer {
    background-color: transparent;
    padding-right: 23rem;
    padding-bottom: 20rem;
}

.aRight {
    flex: 1;
}

.heading, .heading span {
    margin: 20px 0px;
    padding-left: 2rem;
    border-left: 2px solid var(--accent3);
    font-family: "OrbitronExtraBold";
    letter-spacing: .1rem;
    z-index: 999;
    color: var(--accent2);
    hyphens: auto;
}

.heading span {
    position: relative;
    border-left: none;
    padding-left: 0px;
    font-size: 5rem;
    hyphens: auto;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--accent2);
}

.copy {
    font-size: 1.8rem;
    word-spacing: .1rem;
    z-index: 999;
    text-align: left;
    hyphens: auto;
    color: var(--accent1);
}

@media screen and (max-width: 810px) {
    .aContainer {
        flex-direction: column; 
        align-items: center;
    }

    .aRight {
        margin-top: 5rem;
    }
    
    .aSub {
        text-align: center;
    }

    .cubeContainer {
        padding-bottom: 0rem;
        padding-right: 0rem;
    }

    .aLeft, .aRight {
        flex: 0
    }
}

@media screen and (max-width: 480px) {
    .aContainer {
        height: 100%;
    }
}

@media screen and (max-width: 320px) {
    .aRight {
        margin-top: 5rem;
    }
}