.cContainer {
    background-color: transparent;
    margin-bottom: 15rem;
}

.cWrapper {
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.cLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem
}

.cRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    text-transform: uppercase;
    font-family: "OrbitronExtraBold";
    letter-spacing: 1px;
    color: var(--accent2);
    border-left: 2px solid var(--accent3);
    padding-left: 2rem;
}

.cInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
  justify-content: center;
  gap: 3rem;
}

.cInfoItem,
.linkedIn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: var(--accent1)
}

.cInfoItem span {
    font-size: 1.8rem;
}

.cIcon {
    font-size: 2.5rem;
}

.cDescription {
    font-size: 2.5rem;
}

.cDescription input {
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 2px solid var(--accent2);
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    background-color: transparent;
}

.cDescription textarea {
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    border: 2px solid var(--accent2);
    border-radius: 5px;
    background-color: transparent
}

.cDescription textarea:focus,
.cDescription input:focus {
    outline: 1px solid var(--accent2);
    border-radius: 5px;
    background-color: var(--dark);
}

.cDescription button {
    border: none;
    padding: 15px;
    width: 100%;
    background-color: var(--accent2);
    border-radius: 5px;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--accent4);
    cursor: pointer;
}

.forResponse {
    position: relative;
    top: -65px;
    font-size: 1rem;
}

@media screen and (max-width: 800px) {
    .cWrapper {
        flex-direction: column;
    }

    .cLeft {
        align-items: flex-start;
    }

    .cTitle {
        font-size: 30px;
    }

    .cInfoItem {
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .cDescription form {
        display: flex;
        flex-wrap: wrap;
    }
    .cDescription input {
        width: 100%;
        height: 40px;
        margin: 10px;
        margin-left: 0;
    }

    .cDescription button {
        margin-top: 10px;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .cBg {
        width: 7.5px;
    }
    
    .cInfoItem p { 
        font-size: 2rem;
    }
}

@media screen and (max-height: 568px),
screen and (max-width: 320px) {
    .cInfoItem p {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 370px) {
    .cInfoItem span a {
        font-size: 1.6rem;
    }
}