.cContainer {
    background-color: transparent;
    margin-bottom: 25rem;
}

.cWrapper {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.cLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem
}

.cRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    text-transform: uppercase;
    width: 80%;
    font-family: "OrbitronExtraBold";
    letter-spacing: 1px;
    color: var(--accent2);
    border-left: 2px solid var(--accent3);
    padding-left: 2rem;
}

.cInfo {
  display: flex;
  align-items: flex-start;  
  justify-content: space-between;
  gap: 3rem;
  width: 100%;
  padding: 2rem;
}

.cInfoItem,
.linkedIn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    color: var(--accent1)
}

.cInfoItem span {
    font-size: 1.8rem;
}

.cIcon {
    font-size: 2.5rem;
}

.cDescription {
    font-size: 2.5rem;
}

.cDescription input {
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 2px solid var(--accent2);
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    background-color: transparent;
}

.cDescription textarea {
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    border: 2px solid var(--accent2);
    border-radius: 5px;
    background-color: transparent;
}

.cDescription textarea:focus,
.cDescription input:focus {
    outline: 1px solid var(--accent2);
    border-radius: 5px;
    background-color: transparent;
}

.cDescription button {
    border: none;
    padding: 15px;
    width: 100%;
    background-color: var(--accent2);
    border-radius: 5px;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--accent4);
    cursor: pointer;
}

.forResponse {
    position: relative;
    top: -65px;
    font-size: 1rem;
}

@media screen and (max-width: 890px) {
    .cInfo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .cWrapper {
        flex-direction: column;
    }

    .cLeft {
        align-items: center;
    }

    .cTitle {
        font-size: 30px;
    }

    .heading {
        width: 100%;
    }

    .cInfoItem {
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .cDescription form {
        display: flex;
        flex-wrap: wrap;
    }
    .cDescription input {
        width: 100%;
        height: 40px;
        margin: 10px;
        margin-left: 0;
    }

    .cDescription button {
        margin-top: 10px;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .cBg {
        width: 7.5px;
    }
    
    .cInfoItem p { 
        font-size: 2rem;
    }

     .cInfo {
         grid-template-columns: repeat(1, 1fr);
     }

     .cLeft {
         align-items: flex-start;
     }
}

@media screen and (max-height: 568px),
screen and (max-width: 320px) {
    .cInfoItem p {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 370px) {
    .cInfoItem span a {
        font-size: 1.6rem;
    }
}




.contactForm {
    /* position: relative; */
    padding: 5rem;
    border: 2px solid var(--accent2);
    color: var(--accent1);
    width: 100%;
}

.contactForm h2 {
    font-size: 2.4rem;
    font-weight: 500;
}

.formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 3rem;
}

.inputBox50 {
    position: relative;
    width: 47%;
}

.inputBox50:nth-child(1),
.inputBox50:nth-child(2) {
    margin-bottom: 3.5rem;
}

.inputBox50:nth-child(3),
.inputBox50:nth-child(4) {
    margin-bottom: 2rem;
}

.inputBox100 {
    width: 100%;
    margin-bottom: 2rem;
}

.inputBox100 textarea {
    width: 100%;
    resize: none;
    height: 100px;
}

.inputBox50 input,
.inputBox100 textarea {
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--accent1);
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--accent1);
}

.formBox label {
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 1.8rem;
    font-weight: 300;
    transition: 0.3s;
    color: rgba(57, 54, 49, 0.3);
}

.inputBox50 input:focus~label,
.inputBox50 input:valid~label,
.inputBox100 textarea:focus~label,
.inputBox100 textarea:valid~label {
    transform: translateY(-20px);
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--accent3);
    font-weight: 500;
}

.tertiary {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    text-transform: uppercase;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    padding: 15px 45px;
    border-radius: .5rem;
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    color: var(--accent4);
    background-color: var(--accent2);
    cursor: pointer;
}

.icon2 {
    color: var(--accent2);
    position: relative;
    top: 8px;
    left: -10px;
    font-size: 2.6rem;
}

.msg {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--accent2);
}


@media screen and (max-width: 1020px) {

    .contactInfo {
        top: 0;
        position: relative;
    }

    .contactForm {
        position: relative;
        padding-left: 0px;
        margin-left: 0px;
        padding: 4rem;
    }
}

@media screen and (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
    }

    .contactForm,
    .contactInfo {
        width: 100%;
        height: auto;
    }

    .contactInfo {
        flex-direction: row;
    }

    .sci {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .contactForm {
        padding: 2.5rem;
    }

    .contactInfo {
        padding: 2.5rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .sci {
        margin-top: 4rem;
    }

    .inputBox50 {
        width: 100%;
    }

    .btnContainer {
        margin-bottom: 3rem;
        padding: 0 2rem;
        position: relative;
        left: -16px;
    }
}

@media screen and (max-width: 568px) {
    .contactContainer {
        padding: 2rem;
    }

    .contactContainer::after {
        right: 0px;
    }

    .contactContainer::before {
        top: 0px;
        right: 0px;
    }
}

@media screen and (max-width: 532px) {
    .msg {
        position: relative;
        left: 10px;
    }
}