.cContainer {
    height: vh;
    margin-top: 600px;
    background-color: transparent;
    position: relative;
}

.cBg {
    width: 20px;
    height: 100%;
    background-color: var(--accent2);
    position: absolute;
}

.cWrapper {
    padding: 50px;
    display: flex;
}

.cLeft {
    flex: 1
}

.cRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cTitle {
    width: 80%;
    
    /* margin-top: -83px; */
}

.cInfoItem {
    display: flex;
    align-items: center;
    position: relative;
    top: 15px;
}

.cInfoItem p {
    font-size: 2.5rem;
}

.cIcon {
    margin-right: 20px;
    font-size: 2.5rem;
}

.cDescription {
    position: relative;
    bottom: 85px;
    font-size: 2.5rem;
}

.cDescription form {
    margin-top: 20px;
}

.cDescription input {
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 2px solid var(--accent2);
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}


.cDescription textarea {
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    border: 2px solid var(--accent2);
    border-radius: 5px;
}

.cDescription textarea:focus,
.cDescription input:focus {
    outline: 1px solid var(--accent2);
    border-radius: 5px;
}


.cDescription button {
    border: none;
    padding: 15px;
    background-color: var(--accent2);
    border-radius: 5px;
    font-weight: 600;
    color: var(--dark);
    cursor: pointer;
}