@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,700;1,900&display=swap');

:root {
  --accent1: #454444;
  --accent1b: #666262;
  --accent2: #295F4E;
  --accent3: #6DB193;
  --accent4: #f2ecdd;
}

@font-face {
  font-family: "Smile";
  src: url("../public/Fonts/Smile.otf");
}

@font-face {
  font-family: "OrbitronExtraBold";
  src: url("../public/Fonts/OrbitronExtraBold.ttf");
}

* {
  font-family: 'Lato',
    sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 150%;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-size: 2.5rem;
}

h6 {
  font-size: 2rem;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

p,
input {
  font-weight: 400;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--accent4);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent1);
}

@media screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 50%;
  }
}