.hero {
display: flex; 
align-items: flex-start;
justify-content: space-between;
background-color: transparent;
z-index: -99;
padding-bottom: 30rem;
}

.heroLeft {
    flex: 1.5;
    background-color: transparent;
}

.heroName{
    letter-spacing: .3rem;
    transition: none;
    line-height: 1.5;
    padding-bottom: 1.5rem;
    text-transform: uppercase; 
}

 .heroLeftWrapper {
     padding-top: 3rem;
     height: 50%;
     transition: none;
 }

 .titleItem h2 {
     font-size: 2rem;
     margin-bottom: 3rem;
     font-weight: 500;
     letter-spacing: .1rem;
     width: 80%;
 }

 .heroRight {
     flex: 1;
     transition: none;
     background-color: transparent;
 }

 .cubeContainer {
     background-color: transparent;
     padding-left: 75px;
     padding-top: 100px;
     background-color: transparent;
     transition: none;
     z-index: -999;
 }

 .buttonContainer {
     margin-top: 1rem;
     display: flex;
     justify-content: space-between;
     gap: 4rem;
     width: 90%;
 }

.button1,
.button2 {
      display: grid;
      font-size: 2.1rem;
      height: 60px;
      width: 100%;
      letter-spacing: 1.5px;
      border-radius: .5rem;
      font-weight: 600;
  }

.button1 {
    place-items: center;
    color: var(--dark);
    background-color: var(--accent2);
}

.button2 {
    place-items: center;
    border: solid 2px var(--accent2);
    color: var(--accent2);
    background-color: transparent;
  }

.button1:hover {
    background-color: var(--dark);
    color: var(--accent2);
    border: solid 2px;
}

.button2:hover {
    color: var(--dark);
    background-color: var(--accent2);
}

@media screen and (max-width: 810px) {
    .hero {
        flex-direction: column-reverse;
        align-items: center;
        transition: none;
        margin-top: -35px;
    }

    .heroLeftWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: baseline;
    }

    .heroName {
        font-size: 5rem;
        text-align: center;
        line-height: 1.2;
    }

    .titleItem h5 {
        text-align: center;
        width: 100%;
        
    }

    .cubeContainer {
        padding-bottom: 28rem;
        padding-right: 300px;
    }
    
    .buttonContainer {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .cubeContainer {
        padding-right: 250px;
        padding-bottom: 23rem;
    }
    
    .heroName {
        font-size: 3.5rem;
        padding-bottom: 3rem;
        text-align: center;
    }

     .titleItem h5 {
         width: 100%;
         text-align: center;
         hyphens: auto;
     }

     .buttonContainer {
         width: 100%;
     }

     .button1,
     .button2 {
         height: 45px;
     }  
}

@media screen and (max-width: 320px) {
    .heroName {
        font-size: 3rem;
        padding-bottom: 1.5rem;
    }

    .titleItem h5 {
        margin-bottom: 20px;
    }

    .button1,
    .button2 {
        height: 40px;
    }
}