.header {
    z-index: 999;
    background-color: transparent;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 1.5rem;
    z-index: 999;
}

.navbarLogo {
    cursor: pointer;
    color: var(--accent2);
}

.navbarLogo a {
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    left: -1.2rem;
}

.navbarIcon {
    font-size: 2rem;
    margin-right: 1rem;
    position: relative;
    top: 0.3rem;
    left: -1.2rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 35px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--accent4);
}

.navmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    z-index: 999;
    transition: none;
    white-space: nowrap;
}

.navitem {
    margin-left: 5rem;
    color: var(--accent1);
}

/* hover affects */
.navitem a {
        display: inline-block;
        padding-bottom: 0.25rem;
        position: relative;
        transition: none;
}

.navitem a::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--accent2);
    transition: width 0.25s ease-out;
}

.navitem a:hover::before {
  width: 100%;
}

@media only screen and (max-width: 953px) {
    .navmenu {
        position: fixed;
        left: -100%;
        top: 0;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
        text-align: center;
        font-weight: bold;
        transition: 0.3s;
        border: 5px solid var(--accent2);
        color: var(--accent4);
        backdrop-filter: blur(15px);
    }

    .navitem a:hover::before {
        width: 0%;
    }
    
    .navmenu.active {
        left: 0;
    }

    .navmenu a {
        background-color: transparent;
        padding: 1rem 3rem;
        border: 2px solid var(--accent2);
        background-color: var(--accent4);
        color: var(--accent2);
        font-size: 3rem;
        font-family: "OrbitronExtraBold";
        cursor: pointer;
    }

    .navmenu a:hover {
        background-color: var(--accent3);
        color: var(--accent4);
    }

    .navitem {
        margin: 2.5rem 0;
        background-color: transparent;
        transition: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 999;
        border: 2px solid var(--accent2);
        padding: .5rem;
        background-color: var(--accent2);
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}