.pSection {
    height: 35vh;
    background-color: transparent;
}

.projectCubes {
    padding-left: 1.5rem;
    margin-top: 400px;
}

.projectText {
    display: flex;
    /* flex-direction: column;   */
}

.projectText .pInfoLeft {
    margin-top: 75px;
}

.projectText .pInfoLeft .pSub {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0px;
    font-weight: 500;
    padding-left: 1.5rem;
    border-left: 5px solid var(--accent4);
}

.pDescription {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 20px;
    padding-left: 1.5rem;
}

.pDescriptionSkills {
        font-size: 1.8rem;
        font-weight: 300;
        margin-bottom: 20px;
        padding-left: 1.5rem;
}

.pLinks {
    padding-left: 1.5rem;
    text-decoration: underline;
}

.sampleUrl {
    margin-right: 1.5rem;
         display: inline-block;
         margin: 1.5rem 1.5rem 1.5rem 0;
         padding: 0.2rem 1rem;
         border-radius: 5px;
         background-color: var(--accent4);
         font-weight: bold;
}

.github {
     margin-right: 1.5rem;
         display: inline-block;
         margin: 1.5rem 1.5rem 1.5rem 0;
         padding: 0.2rem 1rem;
         border-radius: 5px;
         background-color: var(--accent4);
         font-weight: bold;  
}

 .skill {
     display: inline-block;
     margin: 1.5rem 1.5rem 0 0;
     padding: 0.2rem 1rem;
     border-radius: 5px;
     font-weight: bold;
 }

 .buttonContainer {
     margin-top: 4rem;
     display: flex;
     justify-content: space-between;
     background-color: transparent;
 }
