.sContainer {
    max-height: 85vh;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    margin-top: 200px;
    margin-bottom: 150px;
}

.sRight {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 100px;
    background-color: transparent;
}

.cubeContainer {
    margin-top: -200px;
    margin-right: 50px;
    background-color: transparent;
}

.sLeft {
    flex: 1;
}

.sSub {
    margin: 20px 0px;
    font-weight: bold;
    padding-top: 1rem;
    border-top: 2px solid var(--accent2);
    text-align: justify;
    letter-spacing: .1rem;
}

.sDescription {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: .1rem;
    word-spacing: .1rem;
}


@media screen and (max-width: 768px) {
    .sContainer {
        flex-direction: column-reverse;
        margin-top: 900px;
    }

    .sLeft {
        margin-top: 250px;
    }

    .sRight {   
        margin-right: 550px;
        margin-top: 00px;
    }

    .cubeContainer {
          display: flex;
          margin-right: auto;
          margin-left: auto;
          width: 15%;
    }

}


/* @media screen and (max-height: 823px),
screen and (max-width: 500px) {
    .sContainer {
        margin-top: 600px;
    }

     .sRight {
         position: relative;
         left: 70px;
         top: 40px;
     }

     .sSub, .aDescription {
         text-align: left;
     }
} */

@media screen and (max-width: 767px) {
    .sContainer {
        margin-top: 900px;
    }

    .cubeContainer {
        margin-left: 75px;
    }

    .sRight {
        position: relative;
        left: 20px;
        top: 80px
    }
}


@media screen and (min-width: 501px) and (max-width:767px) {
    .cubeContainer {
        margin-right: 350px;
    }
}