.aContainer {
    max-height: 85vh;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    /* margin-bottom: 300px; */
}

.aLeft {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.cubeContainer {
    margin-top: -150px;
    margin-left: 100px;
    background-color: transparent;
}

.aRight {
    flex: 1;
}



.aCard {
    width: 60%;
    height: 70vh;
}

.aTitle {
    font-weight: 400;
    border-bottom: 1px solid var(--light);
}

.aSub {
    margin: 20px 0px;
    font-weight: bold;
    padding-top: 1rem;
    border-top: 2px solid var(--accent2);
    text-align: justify;
    letter-spacing: .1rem;
}


.aDescription {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: .1rem;
    word-spacing: .1rem;
}