.sContainer {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding-bottom: 30rem; 
}

.sRight {
    flex: 1;
    background-color: transparent;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.cubeContainer {
    background-color: transparent;
    padding-right: 20rem;
}

.sLeft {
    flex: 1;
}

.sSub {
    margin: 20px 0px;
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 1rem;
    border-top: 2px solid var(--accent2);
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.sDescription {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: .1rem;
    word-spacing: .1rem;
}

@media screen and (max-width: 768px) {
    .sContainer {
        display: flex;
        flex-direction: column-reverse;
    }

    .sLeft {
        margin-top: 10rem;
    }

    .cubeContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10rem;
    }
}

@media screen and (max-width: 580px) {
    .cubeContainer {
        padding-bottom: 5rem;
    }
}

@media screen and (max-width: 480px) {
    .cubeContainer {
        padding-bottom: 4rem;
    }
}