.timeContainer {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.icon {
    position: relative;
    margin-right: .5rem;
    top: 1.5px;
    color: var(--accent1);
}

.clock{
    color: var(--accent1);
}