.timeContainer {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.icon {
    position: relative;
    margin-right: 3px;
    top: 1.5px;
    color: var(--accent1c);
}

.icon2 {
    position: relative;
    margin-right: 3px;
    top: 3.5px;
    color: var(--accent1c);
}

.clock{
    color: var(--accent1c);
}

.clock2{
    color: var(--accent1c);
    
}